//Fonts
@font-face {
  font-family: "bebas";
  src: url("../Fonts/BebasNeue-Regular.ttf");
}
//variables
$mainFont : "bebas";
$font-size : 20px;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #a4a4a4;
  max-height: 100%;
  .form{
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:2.5rem ;
    .formElement{
      display: flex;
      flex-direction:column;
      background-color: #ccc;
      padding: .5rem;
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      input{
        margin: .2rem auto;
        padding: .2rem;
        border-radius: 10px;
        max-width: 70px;
        user-select: none;
        user-modify: none;
        user-input: none;
      }
      .exitSection{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        position: relative;
        span{
        padding: .2rem;
        display: flex;
        justify-content: center;
        max-width: 100%;
      }
      }
      .entrySection{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        position: relative;
        span{
        padding: .2rem;
        display: flex;
        justify-content: center;
        max-width: 100%;
      }
      }
      .submitButton{
        padding: .2rem;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: transparent;
        text-align: center;
        width: 50%;
        user-focus: none;
        user-select: none;
      }
      .submitButton:hover{
        background-color: cornflowerblue;
        color: #fff;
      }
    }
    .massageSection{
      margin-bottom: .5rem;
      padding: 1rem;
      background-color:#ff1744 ;
      color: #ffffc5;
      border-radius: 15px;
    }
  }
  .reportsTableSection{
    margin-top:2rem ;
    //display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    width: 100%;
    max-width: 45rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: scroll;
    table{
      width: 100%;

      thead{
        width: 100%;
        border-bottom: 1px solid gray;
        background-color: coral;
        padding: .2rem;

        tr{
          width: 100%;
          th{
            text-align: center;
            border-radius: 10px;
          }
        }
      }
      tbody{
        width: 100%;
        max-height: 100px;
        background-color: chocolate;
        tr{
          width: 100%;
          td{
            text-align: center;
            margin: .2rem 0;
            border-radius: 10px;
          }
        }

        tr:nth-child(odd){
          background-color: darkcyan;
          border-radius: 15px;
        }
      }
      tbody:first-child{
        margin-top: 1rem ;
      }
    }

  }
  .hidden{
    display: none;
  }
  .reportsTableSection::-webkit-scrollbar{
    display: none;
  }
}
