*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    max-width: 100%;
}

/*
* Header
*/
header{
    position: relative;
}
.main-header{
    min-height: 5.5rem;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: flex-start;
}
.right-header-items{
    display: flex;
    justify-content: space-between;
}
.right-header-items > .header-contactUs , .right-header-items > .header-socialMedia{
    display: flex;
}
.header-socialMedia > span{
    margin-top:.8rem ;
    margin-left: .5rem;
    padding: 5px;

}
.header-contactUs{
    margin-top:.7rem ;
    margin-left: .5rem;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
}
a{
    color: #abb8c3;
    text-decoration: none;
}
.header-contactUs > div{
    margin: 3px .8rem;
}
.GW-logo{
    margin: 5px 10px;
    padding: 5px;
}
/*
*  Sub-Header
*/
.sub-header{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    background-color: #79a342;
    height: 72px;
    min-width:65%;
    z-index: 1;
    top: 55px;
    align-items: center;
    padding-left: 10px;
    border-radius: 0 100px 0 0;
}
.SH-links{
    display: flex;
    margin-left: 1.5rem;
}
.SH-links > a{
    color: #fff;
    margin: .7rem;
}
.sub-header > span{
    margin-left: .5rem;
}
/*
*  Main Video
*/
main{
    width: 100%;
    position: relative;
}
.sub-main{
    position: relative;
    height: 700px;
    width: 100%;
}
video{
    position: absolute;
    opacity: 75%;
    top: 0;
    bottom: 0;

}
@media(min-width:1024px ) {
    video{
        width: 100%;
        height: auto;
    }
}
@media(max-width:1024px ) {
    video{
        width: auto;
        height: 100%;
    }
}
.video-title{
    position: absolute;
    z-index: 1;
    color: white;
    top: 20%;
    left: 30%;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
}
@media (max-width: 1024px) {
    .video-title{
        left:9%;
        font-size: 65px;
    }
}
.video-title > p{
    font-size: 1.3rem;
    font-weight: 300;
}
.under-video{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #394b5b;
    border-radius: 35px;
    z-index: 1;
    position: absolute;
    top: 40rem;
    left: 4rem;
    right: 4rem;
    margin: 0 2rem;
    padding: 0.8rem;
    width: 85%;
}

.under-video-logos{
    display: inline-grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows:100px;
    column-gap: 5px;
    overflow:hidden ;
}
.under-video-logo  img{
    width: 12rem;
}
.under-video-info{
    margin-top: 2rem;
    text-align: center;
    color: #abb8c3;
}
.under-video-info >p{
    margin-bottom: 1rem;
}
.under-video-button{
    text-align: center;
    border-radius: 25px;
    color: #ffffff;
    margin-top: 1rem;
}
.under-video-button > span {
    color: #79a342;
    padding: 1rem;
}
.under-video-button >span > a{
    padding: .2rem;
    border-radius: 15px;
    color: white;
    background-color: #79a342;
}