body {
  background-color: #bcbcbc;
}
body header {
  background-color: #9e9e9e;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
}
body header #banner {
  margin: 0.2rem 1.5rem;
  font-size: 1.5rem;
}
body header a {
  text-decoration: none;
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 0.3rem;
  color: #1c313a;
  border-radius: 1rem;
}
body main {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 85%;
}
body main .header {
  font-size: 3rem;
}
body main .articles {
  margin: 1rem auto;
  background-color: #445963;
  width: 50%;
  padding: 1rem;
  border-radius: 0.7rem;
}
body main .articles .article {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
}
body main .articles .article .title {
  text-align: center;
  margin: 1px 0 2px 0;
  font-size: 1.5rem;
}
body main .articles .article .summery {
  font-size: 1.2rem;
}
body main .articles .article .summery a {
  text-decoration: none;
  color: #eeeeee;
}
body main .login-form {
  background-color: #445963;
  width: 50%;
  height: 50%;
  padding: 1rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
  max-width: 40vw;
}
body main .login-form .error {
  color: #cccccc;
  background-color: brown;
  padding: 0.1rem;
  border-radius: 1rem;
  text-align: center;
}
body main .login-form .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
}
body main .login-form .form-group input {
  margin: 0.2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #cccccc;
}
body main .login-form .login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .login-form .login-footer button {
  margin: 0.4rem;
  width: 30%;
  padding: 0.2rem;
  border-radius: 1rem;
  border: 1px solid rgba(204, 204, 204, 0.8);
}
body main .login-form .login-footer a {
  text-decoration: none;
  color: #cccccc;
  font-size: 0.9rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.2rem;
}